<footer class="border-t-2 bg-white border-gray-100 footer text-muted">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-3">
    <p class="text-base">
      &copy; 2021 - Studle - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </p>
  </div>
</footer>